{% extends 'public/base.html' %}
{% load static %}
 {% block header %}
    <body style="background: #f0f0f0;">
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">完成支付</a>
            </h1>
	    </header>
 {% endblock %}
{% block content %}
     <div style="height: 49px;"></div>
	    <ul class="order-detail">
	       <li><span>支付：</span>{{ mess }}</li>

	    </ul>

	    <input type="button" class="login-btn" value="查看订单">
{% endblock %}
