{% extends 'public/base.html' %}
{% load static %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">购物车</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}

{% block content %}
    <ul class="shopcart-list">
        {% for good in goods %}
            <li class="cart">
                <label class="am-checkbox am-warning">
                    <input type="checkbox" checked="checked" value="" data-am-ucheck checked>
                </label>
                <a href="{% url 'goods:detail' good.id %}"><img src="{{ MEDIA_URL }}{{ good.img }}"
                                                                class="shop-pic"/></a>
                <div class="shop-list-mid">
                    <div class="tit"><a href="{% url 'goods:detail' good.id %}">{{ good.name }}</a></div>
                    <b class="shop-list-price">￥<span class='price'>{{ good.price }}</span> </b>
                </div>
                <div class="list-cart1">
                    <div class="d-stock">
                        <a class="decrease">-</a>
                        <input readonly="" sku_id="{{ good.id }}" single_price="{{ good.price }}" class="text_box num" name="" type="text"
                               value="{{ good.num }}">
                        <a class="increase">+</a>
                    </div>
                </div>
            </li>
        {% endfor %}

    </ul>
    <div class="login-logo"  {% if goods %} style="display: none" {% else %} style="display: block"{% endif %}>
        <img src="{% static 'images/care.png' %}">
        <p>亲、您的购物车还是空空的哦，快去装满它!</p>
        <a href="{% url 'goods:index' %}" class="goshopping">前去逛逛</a>
    </div>

    <div class="shop-fix">

        <label class="am-checkbox am-warning">
            <input id="checkall" type="checkbox" checked="checked" value="" data-am-ucheck checked>
        </label>
        <a class="del">全选</a>
        <a href="javascript:;" class="js-btn" id="mycount">去结算</a>
        <div class="js-text">

            <P>合计：<b>￥<span>00.00</span></b></P>
            <p class="js-car">免费配送</p>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <!--底部-->
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{% url 'goods:index' %}" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="message.html" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="{% url 'cart:shopcart' %}" class="">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="{% url 'person:allorder' %}" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="member.html" class="curr">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>


{% endblock %}

{% block foot_js %}
    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var sku_id = self.siblings('input').attr('sku_id');
                var current_num = parseInt(self.siblings('input').val());
                var num = 1;
                $.ajax({
                    type: "POST",
                    url: "{% url 'cart:addcart' %}",
                    data: {"sku_id": sku_id, "num": num, "csrfmiddlewaretoken": "{{ csrf_token  }}"},
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 0) {
                            current_num += 1;
                            self.siblings('input').val(current_num);
                            totalprice()
                        }
                    }
                });
            });
            $('.decrease').click(function () {
                var self = $(this);
                var sku_id = self.siblings('input').attr('sku_id');
                var current_num = parseInt(self.siblings('input').val());

                var num = -1;
                $.ajax({
                    type: "POST",
                    url: "{% url 'cart:addcart' %}",
                    data: {"sku_id": sku_id, "num": num, "csrfmiddlewaretoken": "{{ csrf_token  }}"},
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 0) {
                            if (current_num > 1) {
                                current_num -= 1;
                                self.siblings('input').val(current_num);
                                totalprice();
                            } else if (current_num == 1) {
                                self.siblings('input').parents("li").remove();
                                if ($(".shopcart-list li").length == 0) {
                                    $('.login-logo').show()
                                }
                            }
                        }
                    }
                });


            });

            function totalprice() {
                var checked_li = $('.shopcart-list li').find(':checked');
                {#console.debug(checked_li)#}
                var total = 0;
                $.each(checked_li, function (i, e) {
                    var price = $(e).parents('li').find('.price').text();
                    var num = $(e).parents('li').find('.text_box').val();
                    total += price * num;
                });
                {#console.debug(total)#}
                $('.js-text').find('span').text(total)

            }

            totalprice();

            // 全选框
            $("#checkall").on("change", function () {
                var status = $(this).prop("checked");
                {#console.debug(status)#}
                $('.shopcart-list').find(':checkbox').prop('checked', status);
                totalprice();
            });

            //复选框
            $('.shopcart-list').find(':checkbox').on('change', function () {
                if ($('.shopcart-list').find(':checkbox').length == $('.shopcart-list').find(':checked').length) {
                    $("#checkall").prop("checked", true);
                    totalprice();
                } else {
                    $("#checkall").prop("checked", false);
                    totalprice();
                }
            })


            //结算
            $('#mycount').on('click', function () {
                //商品id , 数量 ,总价
                var li = $('.shopcart-list').find(':checked').parents('li');
                var num = li.find('.num');
                var price = $('.js-text').find('span').text();
                console.debug(price);
                {#var count = [];#}
                var goods =[];
                {#var single_price =[];#}
                $.each(num, function (i, e) {
                    {#count.push($(e).val());#}
                    goods.push($(e).attr('sku_id'));
                    {#single_price.push($(e).attr('single_price'));#}
                });
                {#console.debug(count);#}
                console.debug(goods);
                {#console.debug(single_price);#}
                $.ajax({
                    type:"POST",
                    url:"{% url 'order:tureorder' %}",
                    data:{"goods":goods,"csrfmiddlewaretoken":"{{ csrf_token }}"},
                    dataType:"json",
                    success:function (data) {
                        console.debug(111)
                    }
                })
            })
        })
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
{% endblock %}
 

