{% extends 'public/base.html' %}
{% load static %}
{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">管理收货地址</a>
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="{% url 'order:address' %}" class="">
                <i class="am-icon-plus"></i>
            </a>
        </div>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}

{% block content %}
    <ul class="address-list">
        {% for v in data %}
            <li {% if v.isDefault %}class="curr"{% endif %} liid = {{ v.id }}>
                <p>收货人：{{ v.name }}&nbsp;&nbsp;{{ v.tel }}</p>
                <p class="order-add1">收货地址: {{ v.hcity }}-{{ v.hproper }}-{{ v.harea }}-{{ v.brief }}</p>
                <hr/>
                <div class="address-cz">
                    <label class="am-radio am-warning">
                        <input type="radio" name="radio3" value="" data-am-ucheck
                               {% if v.isDefault %}checked{% endif %} class="def"> 设为默认
                    </label>
                    <a href="{% url 'order:edit' v.id %}"><img src="{% static 'images/bj.png' %}"
                                                               width="18"/>&nbsp;编辑</a>
                    <a href="javascript:;" class="del">删除</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block foot_js %}
    <script>
        $(function () {
            $(".del").on('click', function () {
                var li = $(this).parents('li');
                var id = li.attr("liid");
                $.ajax({
                    type:'POST',
                    url:"{% url 'order:delete' %}",
                    data:{"id":id,"csrfmiddlewaretoken":"{{ csrf_token }}"},
                    dataType:"json",
                    success:function (data) {
                        if(data.code==0){
                            li.remove()
                        }else{
                            alert("删除失败")
                        }

                    }
                })
            });

            $(".def").on('click', function () {
                var li = $(this).parents('li');
                var id = li.attr("liid");
                $.ajax({
                    type:'POST',
                    url:"{% url 'order:default' %}",
                    data:{"id":id,"csrfmiddlewaretoken":"{{ csrf_token }}"},
                    dataType:"json",
                    success:function (data) {
                        if(data.code==0){
                            $('.address-list li').removeClass("curr");
                            li.addClass("curr");
                            li.find(".def").attr('checked',"checked");
                        }else {
                            alert('修改失败')
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}
