{% extends 'public/base.html' %}
{% load static %}
{% block meta_css %}
    <style>
        .shop-list-mid .tit a {
            color: #909090;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
        }
    </style>

{% endblock %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <div class="cate-search">
            <form action="/search/" method="get">
                <input type="text" name="q" class="cate-input" placeholder="请输入您要的搜索的产品关键词"/>
                <input type="submit" class="cate-btn" value=""/>
            </form>
        </div>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}

{% block content %}
    <ul class="list-nav" id="order">
        <li {% if order_id == 0 %} class="current" {% endif %}><a href="{% url 'goods:category' cate_id 0 %}">综合</a>
        </li>
        <li {% if order_id == 1 %} class="current" {% endif %}><a href="{% url 'goods:category' cate_id 1 %}">销量</a>
        </li>
        <li {% if order_id == 2 %} class="current" {% endif %}><a href="{% url 'goods:category' cate_id 2 %}"><i
                class="list-price">价格</i></a></li>
        <li {% if order_id == 4 %} class="current" {% endif %}><a href="{% url 'goods:category' cate_id 4 %}">新品</a>
        </li>
    </ul>
    <div class="content-list">
        <div class="list-left">
            {% for cate in category %}
                <li {% if cate.id == cate_id %}class="current" {% endif %}><a
                        href="{% url 'goods:category' cate.id order_id %}" class="cate">{{ cate.catename }}</a></li>
            {% endfor %}
        </div>

        <div class="list-right">
            <ul class="list-pro" id="goodslist">
                {% for v in goodlist %}
                    <li>
                        <a href="{% url 'goods:detail' v.id %}" class="img"><img src="{{ MEDIA_URL }}{{ v.img }}"
                                                                                 class="list-pic"/></a>
                        <div class="shop-list-mid" style="width: 65%;">
                            <div class="tit"><a href="{% url 'goods:detail' v.id %}" class="name">{{ v.name }}</a></div>
                            <div class="am-gallery-desc" class="price">{{ v.price }}</div>
                            <p class="sell">销量：{{ v.sell }}件</p>
                        </div>
                        <div class="list-cart">
                            <div class="d-stock ">
                                <a class="decrease">-</a>
                                <input id="num" readonly="" sku_id="{{ v.id }}" class="text_box" name="" type="text"
                                       value="0"/>
                                <a class="increase">+</a>
                            </div>
                        </div>
                        <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
                    </li>
                {% endfor %}
                <hr>
                {% if goodlist.has_previous %}
                    <span><a href="?p={{ goodlist.previous_page_number }}">上一页</a></span>
                {% endif %}
                {% if goodlist.has_next %}
                    <span><a href="?p={{ goodlist.next_page_number }}">下一页</a></span>
                {% endif %}
            </ul>
        </div>

    </div>

{% endblock %}

{% block foot %}
    <div style="height: 55px;"></div>
    <div class="fix-bot">
        <a href="{% url 'cart:shopcart' %}">
            <div class="fix-bot-cart"><i>{{ count }}</i></div>
        </a>
        <a href="{% url 'order:tureorder' %}" class="list-js">去结算</a>
        <a href="{% url 'order:tureorder' %}" class="list-jsk">一键快购</a>
        <!--<div class="js-text">
           <p><b>￥217.80</b></p>
           <p class="js-car">购物满50元免运费</p>
     </div>-->
    </div>
{% endblock %}
<!--底部-->

{% block foot_js %}
    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var sku_id = $("#num").attr('sku_id');
                var current_num = parseInt(self.siblings('input').val());

                var num = 1;
                $.ajax({
                    type: "POST",
                    url: "{% url 'cart:addcart' %}",
                    data: {"sku_id": sku_id, "num": num, "csrfmiddlewaretoken": "{{ csrf_token  }}"},
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 1) {
                            var flag = confirm("未登录,是否要跳转到登录界面");
                            if (flag) {
                                location.href = "{% url 'person:login' %}?next={% url 'goods:category' cate_id order_id %}"
                            }
                        } else if (data.code == 0) {
                            current_num += 1;
                            if (current_num > 0) {
                                self.siblings(".decrease").fadeIn();
                                self.siblings(".text_box").fadeIn();
                            }
                            self.siblings('input').val(current_num);
                            $(".fix-bot-cart i").text(data.total);
                        }
                    }
                });
            });

            $('.decrease').click(function () {
                var self = $(this);
                var sku_id = $("#num").attr('sku_id');
                var current_num = parseInt(self.siblings('input').val());
                var num = -1;
                if (current_num > 0) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'cart:addcart' %}",
                        data: {"sku_id": sku_id, "num": num, "csrfmiddlewaretoken": "{{ csrf_token  }}"},
                        dataType: "json",
                        success: function (data) {
                            if (data.code == 1) {
                                var flag = confirm("未登录,是否要跳转到登录界面");
                                if (flag) {
                                    location.href = "{% url 'person:login' %}?next={% url 'goods:category' cate_id order_id %}"
                                }
                            } else if (data.code == 0) {
                                current_num -= 1;
                                if (current_num < 1) {
                                    self.fadeOut();
                                    self.siblings(".text_box").fadeOut();
                                }
                                self.siblings('input').val(current_num);
                                $(".fix-bot-cart i").text(data.total)
                            }
                        }
                    });
                }
            });

            if ("{{ order_id }}" == 2) {
                $('.list-price').parent("a").attr('href', '{% url 'goods:category' cate_id 3 %}')
            } else if ("{{ order_id }}" == 3) {
                $('.list-price').parent("a").attr('href', '{% url 'goods:category' cate_id 2 %}')
            }
        })

    </script>
{% endblock %}
